body {
	background-color: #660000;
	padding: 20px;
}

.col-md-5 #top-img{
	width: 500px;
	height: 200px;
	margin-top: 45px;
}

.col-md-4 #top-img {
	width: 500px;
	height: 300px;
}

h1, h3 {
	color: #e6b800;
}

.character.btn {
	background-color: #e6b800;
}

label {
	font-size: 18px;
	color: #e6b800;
}

#add-gif {
	background-color: #e6b800;
	border: 1px solid transparent;
    border-radius: 4px;
}

.wrap {
	display: inline-block;
	float: left;
}

.rating {
	color: #e6b800;
}

#gif-view {
	color: #e6b800;
}

.copyright {
	background-color: #e6b800;
	height: auto;
}

.navbar {
	height: 15px;
}